<div class="container">
  <h1>LISTA DE PRODUCTOS</h1>
  <div class="tabla">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Code</th>
          <th>Stock</th>
          <th>Thumbnail</th>
        </tr>
      </thead>

      <tbody id="app">

      </tbody>
    </table>
  </div>
</div>

<script src="/js/home.js" type="module"></script>